/* src/styles.css */
@import "tailwindcss";

/* Импортируем файл со шрифтами */
@import "./fonts.css";

body {
  font-family: 'Unbounded', sans-serif;
  background-color: white;
  line-height: auto;
}